{
  "presets": ["flow", "env"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src"
        }
      }
    ],
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    "transform-object-rest-spread"
  ]
}
